/* product-card css start */
.product-card {
	height: 100%;
	background-color: var(--white);
	position: relative;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.102), 0 4px 6px -4px rgba(0, 0, 0, 0.102);
	overflow: hidden;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
}

.card-item .product-card:hover{
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
}

.product-card .card-image-wrap {
	margin: 0;
	min-width: 0px;
	border: 0px;
	box-sizing: border-box;
	display: flex;
	height: auto;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	background-color: var(--card-bg);
}

.product-card .card-image-wrap:before {
	padding-bottom: 100%;
	content: "";
	width: 0;
	height: 0;
}

.product-card .card-image-wrap .card-img {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
}

.product-card .card-img .main-img img {
	object-fit: cover;
	transition: ease .5s;
}

.card_hover:hover .card-img .main-img img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.product-card .card-content {
	padding: 24px;
}

.card-badge-and-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin: 0 0 12px 0;
}

.card-badge {
	color: var(--white);
	font-size: 12px;
	text-transform: capitalize;
	font-weight: 500;
	line-height: 1.333;
	padding: 4px 12px;
	border-radius: 3.40282e38px;
	-webkit-border-radius: 3.40282e38px;
	-moz-border-radius: 3.40282e38px;
	-ms-border-radius: 3.40282e38px;
	-o-border-radius: 3.40282e38px;
	height: fit-content;
}

.card-item.comforta-the-dove .product-card .card-content .card-badge {
	background: var(--brand-color);
}

.card-item.lumina-the-unicorn .product-card .card-content .card-badge {
	background: var(--item-bg2);
}

.card-item.valor-the-lion .product-card .card-content .card-badge {
	background: var(--item-bg3);
}

.product-card .card-content .card-title {
	color: var(--heading-text-color);
	font-family: var(--heading-font);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.4;
	transition: ease .2s;
}

.product-card .card-content .card-title:hover {
	text-decoration: underline;
}

.product-card .card-content .card-price-wrap .latest-price {
	color: var(--text-muted);
	font-family: var(--paragraph-font);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.42857;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 4px;
}

.product-card .card-content .card-price-wrap .latest-price span {
	text-decoration: line-through;
	display: inline-block;
	margin-left: 5px;
}

.card-slogan {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5555;
	margin: 8px 0 0 0;
	font-family: var(--stylish-font);
}

.card-item.comforta-the-dove .product-card .card-content .card-slogan {
	color: var(--text-mark);
}

.card-item.lumina-the-unicorn .product-card .card-content .card-slogan {
	color: var(--item-bg2);
}

.card-item.valor-the-lion .product-card .card-content .card-slogan {
	color: var(--item-bg3);
}

.card-text {
	color: var(--text-muted);
	margin: 12px 0 0 0;
	font-size: 14px;
	line-height: 1.42857;
}

.card-btn {
	margin: 12px 0 0 0;
	display: flex;
}

.card-btn .btn {
	width: 100%;
	font-weight: 700;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.card-item.comforta-the-dove .product-card .card-content .card-btn .btn {
	background: var(--brand-color);
	border-color: var(--brand-color);
}

.card-item.comforta-the-dove .product-card .card-content .card-btn .primary-btn:hover {
	color: var(--brand-color);
}

.card-item.lumina-the-unicorn .product-card .card-content .card-btn .btn {
	background: var(--item-bg2);
	border-color: var(--item-bg2);
}

.card-item.lumina-the-unicorn .product-card .card-content .card-btn .primary-btn:hover {
	color: var(--item-bg2);
}

.card-item.valor-the-lion .product-card .card-content .card-btn .btn {
	background: var(--item-bg3);
	border-color: var(--item-bg3);
}

.card-item.valor-the-lion .product-card .card-content .card-btn .primary-btn:hover {
	color: var(--item-bg3);
}

/* product-card css end */

@media only screen and (max-width: 575px) {

	/* product-card css start */


	/* product-card css end */
}