/* common css start */
/* import fonts-- */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter_18pt-LightItalic.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter_18pt-Italic.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter_18pt-MediumItalic.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter_18pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter_18pt-BoldItalic.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-ExtraBold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter_18pt-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Black.woff') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter_18pt-BlackItalic.woff') format('woff');
    font-weight: 900;
}

/* colors */
:root {
    /* color */
    --black: #000000;
    --white: #ffffff;
    --off-white: rgba(255, 255, 255, 0.8);
    --heading-text-color: #0a2342;
    --paragraph-text-color: #0a2342cc;
    --text-muted: #0a234280;
    --text-mark: #9810fa;
    --brand-color: linear-gradient(90deg, oklch(55.8% .288 302.321) 0%, oklch(59.2% .249 .584) 100%);
    --body-color: #F8F5F0;



    --item-bg: #f8f5f0;
    --item-bg2: #c3b1e1;
    --item-bg3: #cc5500;
    --item-bg4: rgba(212, 175, 55, 0.125);
    --item-bg5: #d4af3720;
    --item-bg6: #c3b1e120;
    --item-bg7: #cc550020;
    --item-bg8: #fefdfc;
    --section-bg: #f5f5f5;
    --section-bg2: #0a2342;
    --card-bg: #ededed;
    --border-color: #e5e5e5;
    --border-color2: #0a234220;
    --border-color3: rgba(255, 255, 255, 0.2);
    --border-color4: #0a234233;
    --border-color5: #d4af374d;
    --text-muted2: #0a2342b3;
    --text-muted3: #6a7282;
    --btn-color: #0a2342;
    /* --btn-bg: #d4af37; */
    --btn-bg: linear-gradient(90deg, oklch(55.8% .288 302.321) 0%, oklch(59.2% .249 .584) 100%);

    /* font family */
    --heading-font: "Inter", sans-serif;
    --paragraph-font: "Inter", sans-serif;
    --stylish-font: "Inter-Italic", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--paragraph-font);
    background: var(--body-color);
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -ms-transition: all ease 2s;
    -o-transition: all ease 2s;
}

body.active {
    overflow: hidden;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -ms-transition: all ease 2s;
    -o-transition: all ease 2s;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    transition: ease .3s;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
}

.h1 {
    font-size: clamp(48px, 5.62vw, 72px);
    font-weight: 700;
    line-height: clamp(54px, 6.09vw, 78px);
}

.h2 {
    font-size: clamp(36px, 3.75vw, 48px);
    font-weight: 700;
    line-height: clamp(42px, 4.21vw, 54px);
}

.h3 {
    font-size: clamp(30px, 2.81vw, 36px);
    font-weight: 600;
    line-height: clamp(36px, 3.28vw, 42px);
}

.h4 {
    font-size: clamp(24px, 2.34vw, 30px);
    font-weight: 600;
    line-height: clamp(30px, 2.81vw, 36px);
}

.h5 {
    font-size: clamp(22px, 1.87vw, 24px);
    font-weight: 500;
    line-height: clamp(26px, 2.34vw, 30px);
}

.h6 {
    font-size: clamp(18px, 1.56vw, 20px);
    font-weight: 500;
    line-height: clamp(24px, 2.03vw, 26px);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    margin: 0;
    line-height: 22px;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* input css start */
input,
textarea,
select {
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    /* Firefox */
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--text-muted);
    text-transform: capitalize;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.input-field {
    margin: 0 0 10px 0;
}

.input-field.mb-0 {
    margin: 0;
}

.input-field input,
.input-field select,
.input-field textarea {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: var(--item-bg8);
    border: 1px solid var(--border-color5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.input-field input:focus,
.input-field select:focus,
.input-field textarea:focus {
    outline: auto;
}

/* .input-field input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
} */

/* input css end */

/* button css start */
button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    transition: ease .3s;
    color: var(--btn-color);
}

.btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10.5px 20px;
    transition: ease .3s;
    font-family: var(--paragraph-font);
    text-transform: capitalize;
    text-align: center;
    display: block;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: fit-content;
}

.btn:hover {
    text-decoration: none;
}

.primary-btn {
    color: var(--white);
    position: relative;
    overflow: hidden;
    background: var(--btn-bg);
    border: 1px solid transparent;
}

.primary-btn span,
.secondary-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.primary-btn span {
    background: var(--white);
}

.primary-btn:hover {
    color: var(--paragraph-text-color);
    border-color: var(--paragraph-text-color);
}

.primary-btn:hover span,
.secondary-btn:hover span {
    width: 225%;
    height: 562.5px;
}

.primary-btn:active {
    background: var(--white);
}

.secondary-btn {
    color: var(--paragraph-text-color);
    position: relative;
    overflow: hidden;
    background: var(--white);
    border: 1px solid var(--paragraph-text-color);
}

.secondary-btn span {
    background: var(--btn-bg);
}

.secondary-btn:hover {
    color: var(--white);
    border-color: transparent;
}

.secondary-btn:active {
    background: var(--btn-bg);
}

/* button css end */

.h1.stylish-font {
    font-family: var(--stylish-font);
}

.h2.stylish-font {
    font-family: var(--stylish-font);
}

.h3.stylish-font {
    font-family: var(--stylish-font);
}

.h4.stylish-font {
    font-family: var(--stylish-font);
}

.h5.stylish-font {
    font-family: var(--stylish-font);
}

.h6.stylish-font {
    font-family: var(--stylish-font);
}

p.stylish-font {
    font-family: var(--stylish-font);
}

.stylish-font {
    font-family: var(--stylish-font);
    color: var(--text-mark);
}

/* section heading css start */
.section-heading-wrapper {
    text-align: center;
    max-width: 768px;
    margin: 0 auto 64px;
}

.section-heading {
    text-transform: capitalize;
}

.section-heading em {
    font-style: normal;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(to right in oklab, oklch(55.8% .288 302.321) 0%, oklch(59.2% .249 .584) 50%, oklch(64.6% .222 41.116) 100%), linear-gradient(to right in oklab, oklch(55.8% .288 302.321) 0%, oklch(64.6% .222 41.116) 100%);
    position: relative;
    overflow: hidden;
    display: inline-flex;
}

.color-animation-wrap {
    position: absolute;
    mix-blend-mode: lighten;
    pointer-events: none;
    color: #0000;
    width: 100%;
    height: 100%;
    left: 0;
}

.color-animation-wrap span {
    position: absolute;
    filter: blur(16px);
    -webkit-filter: blur(16px);
    mix-blend-mode: overlay;
    width: 30vw;
    height: 30vw;
}

.color-animation-wrap span:first-child {
    animation: 6s ease-in-out infinite gradient-border, 12s ease-in-out infinite alternate gradient-1;
    background: #cc0066
}

.color-animation-wrap span:nth-child(2) {
    animation: 6s ease-in-out infinite gradient-border, 12s ease-in-out infinite alternate gradient-2;
    -webkit-animation: 6s ease-in-out infinite gradient-border, 12s ease-in-out infinite alternate gradient-2;
    background: #1aff66;
    right: 0;
}

.color-animation-wrap span:nth-child(3) {
    background: #004c99;
    right: 0;
    animation: 6s ease-in-out infinite gradient-border, 12s ease-in-out infinite alternate gradient-3;
}

.color-animation-wrap span:last-child {
    background: #ff6;
    animation: 6s ease-in-out infinite gradient-border, 12s ease-in-out infinite alternate gradient-4;

}

@keyframes gradient-border {

    0%,
    100% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }

    25% {
        border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }

    50% {
        border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }

    75% {
        border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
}

@keyframes gradient-1 {

    0%,
    100% {
        top: 0px;
        right: 0px;
    }

    50% {
        top: 50%;
        right: 25%;
    }

    75% {
        top: 25%;
        right: 50%;
    }
}

@keyframes gradient-2 {

    0%,
    100% {
        top: 0px;
        left: 0px;
    }

    60% {
        top: 75%;
        left: 25%;
    }

    85% {
        top: 50%;
        left: 50%;
    }
}

@keyframes gradient-3 {

    0%,
    100% {
        bottom: 0px;
        left: 0px;
    }

    40% {
        bottom: 50%;
        left: 25%;
    }

    65% {
        bottom: 25%;
        left: 50%;
    }
}

@keyframes gradient-4 {

    0%,
    100% {
        bottom: 0px;
        right: 0px;
    }

    50% {
        bottom: 25%;
        right: 40%;
    }

    90% {
        bottom: 50%;
        right: 25%;
    }
}

.section-heading-text {
    font-size: 18px;
    margin: 32px auto 0;
    line-height: 1.5556;
}

.section-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

.section-bg {
    background-color: var(--section-bg);
}

/* section heading css end */
/* common css end */

@media only screen and (max-width: 992px) {

    /* common css start */
    body {
        margin: 92px 0 0 0;
    }

    .section-btn {
        margin: 35px 0 0 0;
    }

    .section {
        padding: 60px 0;
    }

    .section-heading-wrapper {
        margin: 0 auto 35px;
    }

    /* common css end */
}


@media only screen and (max-width:767px) {

    /* common css start */
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .section {
        padding: 50px 0;
    }

    .section-btn {
        margin: 25px 0 0 0;
    }

    .section-heading-wrapper {
        margin: 0 auto 25px;
    }

    /* common css end */

}

@media only screen and (max-width: 575px) {

    .section {
        padding: 30px 0;
    }

    .section-heading-wrapper {
        margin: 0 auto 30px;
    }

    /* common css end */
}