/* product-single-section css start */
.product-single-section {
    margin: 50px 0 0 0;
}

.product-single-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    align-items: center;
}

.product-single-img-area {
    overflow: hidden;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.product-single-badge {
    color: var(--white);
    background: var(--brand-color);
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 20px;
    padding: 9px 18px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 0 24px 0;
    display: inline-block;
}

.product-single-title {
    text-transform: capitalize;
}

.product-single-stylish-text {
    margin: 16px 0 0 0;
}

.product-single-text {
    margin: 16px 0 0 0;
    font-size: 18px;
    line-height: 30px;
}

.h4.product-single-price {
    margin: 16px 0 0 0;
    font-weight: 700;
}

.product-varient {
    margin: 16px 0 0 0;
}

.product-varient-title {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.product-single-details {
    margin: 80px 0 0 0;
    padding: 32px;
    background: var(--white);
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.product-single-details-title-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.h5.product-single-details-title {
    font-weight: 600;
}

.product-single-details-text {
    margin: 16px 0 0 0;
    line-height: 26px;
}

/* product-single-section css end */

@media only screen and (max-width: 992px) {

    /* product-single-section css start */

    .product-single-wrapper {
        gap: 24px;
    }

    /* product-single-section css end */

}

@media only screen and (max-width: 767px) {

    /* product-single-section css start */
    .product-single-section {
        margin: 0;
    }

    .product-single-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    /* product-single-section css end */

}

@media only screen and (max-width: 575px) {

    /* product-single-section css start */
    .section.product-single-section {
        margin: 60px 0 0 0;
    }

    .product-single-badge {
        font-size: 12px;
        padding: 5px 15px 6px;
        margin: 0 0 16px 0;
    }

    .h3.product-single-stylish-text.stylish-font {
        font-size: 22px;
        line-height: 26px;
        margin: 10px 0 0 0;
    }

    .product-single-text {
        margin: 14px 0 0 0;
        font-size: 14px;
        line-height: 21px;
    }

    .product-single-details {
        margin: 30px 0 0 0;
        padding: 20px;
    }

    .product-single-details-text {
        margin: 12px 0 0 0;
        line-height: 22px;
    }

    /* product-single-section css end */

}